* {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}
.lokikirja :nth-child(3) {
  background-color: skyblue;
}
.stats-table td {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 3vw;
  text-align: center;
}
.stats-table th {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Quicksand, Roboto, Arial;
}
.navilinkki {
  text-decoration: none;
  color: inherit;
  font-family: Quicksand;
  font-size: 2vw;
  padding: 0px 20px;
}
.navilinkki:hover {
  color: lightseagreen;
  transition: 3s;
}
.div-error {
  color: red;
  font-weight: bold;
  animation: errori 1s infinite ease-in-out;
  padding: 20px;

}
@keyframes errori {
  0% { 
    color: red;
  }
  50% {
    color: darkred;
  }
  100% {
    color: red;
  }
}

@media screen and (min-width: 1024px) {
  .stats-table th {
    font-size: 1vw;
  }
}