* {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: black;
  color: lightgray;
}
.tausta {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.22;
  position: absolute;
  top: 0;
  left: 0;
}
.tausta .media {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}
.warningFrame {
  border: 15px solid red;
  border-radius: 15px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  animation: warningAnim 2s infinite ease-in-out;
}
.wideContainer {
  width: 100%;
  background-color: rgba(30,30,30,0.4);
  z-index: 100;
  min-height: 50vh;
  position: relative;
  padding: 5vw;
  margin-bottom: 10vh;
}
.wideContainer:focus-within {
  background-color: rgba(30,30,30,0.8);
  transition: 1s ease-in-out;
}
.wideContainerTop {
  margin-top: 6vh;
}
.MuiContainer-root {
  background-color: rgba(30,30,30, 0.85);
  padding: 20px;
  min-height: 95vh;
  z-index: 100;
  position: relative;

}
.MuiContainer-root input:focus {
  background-color: rgb(30,30,30);
  border-color: gray;
}
.lokikirja :nth-child(3) {
  background-color: skyblue;
}
.kisataulu tr:nth-child(even) {
  background-color: rgba(107, 107, 107, 0.2);
}
.kisataulu th {
  font-weight: bold;
}
.stats-table td {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
}
.stats-table th {
  text-align: center;
}
.navilinkki {
  color: white; 
  text-decoration: none;
  font-family: Quicksand;
}
a {
  color: orange;
  text-decoration: none;
}
.navilinkki:hover {
  color: orange;
  transition: 1s ease-in-out;

}
.div-error {
  color: red;
  font-weight: bold;
  animation: errori 1s infinite ease-in-out;
  padding: 20px;

}
.largeFont {
  font-size: 1.1em;
}
@keyframes warningAnim {
  0% {
    border-color: rgba(255,0,0,1);
    background-color: rgba(255,0,0,.1);
  }
  50% {
    border-color:rgba(255,0,0,0.2);
    background-color: rgba(255,0,0,0);
  }
  100% {
    border-color: rgba(255,0,0,1);
    background-color: rgba(255,0,0,.1);
  }
}
@keyframes errori {
  0% { 
    color: red;
  }
  50% {
    color: darkred;
  }
  100% {
    color: red;
  }
}
.darkContainer {
  background-color:rgba(30,30,30, 0.80);

}
.splitContainer {
  padding: 0px;
}
.splitContainer > div {
  padding: 10vw;
}
@media screen and (min-width: 1024px) {
  .stats-table th {
    font-size: 1vw;
  }
  .stats-table td {
    font-size: 2vw;
  }
  .largeFont {
    font-size: 1.5vw;
  }
  .MuiTypograpgy h4 {
    font-size: 3vw;
  }
  .wideContainer {
    padding: 10vh 25vw;
  }
  .wideContainerSmallPadding {
    padding: 2vh 20vw;
  }

  .splitContainer {
    display: flex;
    padding: 0px;
  }
  .splitContainer > div {
    width: 50%;
    padding: 10vh 10vw;
  }
  .navilinkki {
    font-size: 2vw;
    padding: 0px 20px;
  }
}
